In [2]:
import pandas as pd

In [3]:
import nltk

In [4]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\gauta\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [5]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\gauta\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [6]:
dt=pd.read_csv("spam1.csv")

In [7]:
dt.head()

  label                                               text
0   ham  Subject: enron methanol ; meter # : 988291\r\n...
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3  spam  Subject: photoshop , windows , office . cheap ...
4   ham  Subject: re : indian springs\r\nthis deal is t...

In [8]:
dt['spam']=dt['label'].map({'spam':1,'ham':0}).astype(int)

In [9]:
dt.head(4)

  label                                               text  spam
0   ham  Subject: enron methanol ; meter # : 988291\r\n...     0
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...     0
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...     0
3  spam  Subject: photoshop , windows , office . cheap ...     1

In [10]:
len(dt['label'])

5171

tokenize

In [11]:
from nltk import word_tokenize

In [12]:
dt['text']=dt['text'].apply(word_tokenize)

In [13]:
dt['text'][0]

['Subject',
 ':',
 'enron',
 'methanol',
 ';',
 'meter',
 '#',
 ':',
 '988291',
 'this',
 'is',
 'a',
 'follow',
 'up',
 'to',
 'the',
 'note',
 'i',
 'gave',
 'you',
 'on',
 'monday',
 ',',
 '4',
 '/',
 '3',
 '/',
 '00',
 '{',
 'preliminary',
 'flow',
 'data',
 'provided',
 'by',
 'daren',
 '}',
 '.',
 'please',
 'override',
 'pop',
 "'",
 's',
 'daily',
 'volume',
 '{',
 'presently',
 'zero',
 '}',
 'to',
 'reflect',
 'daily',
 'activity',
 'you',
 'can',
 'obtain',
 'from',
 'gas',
 'control',
 '.',
 'this',
 'change',
 'is',
 'needed',
 'asap',
 'for',
 'economics',
 'purposes',
 '.']

Stemmer

In [14]:
from nltk.stem.snowball import SnowballStemmer
porter=SnowballStemmer("english",ignore_stopwords=False)

In [15]:
def stem_it(text):
  return [porter.stem(word) for word in text]

In [16]:
dt['text']=dt['text'].apply(stem_it)

In [17]:
dt['text'][0]

['subject',
 ':',
 'enron',
 'methanol',
 ';',
 'meter',
 '#',
 ':',
 '988291',
 'this',
 'is',
 'a',
 'follow',
 'up',
 'to',
 'the',
 'note',
 'i',
 'gave',
 'you',
 'on',
 'monday',
 ',',
 '4',
 '/',
 '3',
 '/',
 '00',
 '{',
 'preliminari',
 'flow',
 'data',
 'provid',
 'by',
 'daren',
 '}',
 '.',
 'pleas',
 'overrid',
 'pop',
 "'",
 's',
 'daili',
 'volum',
 '{',
 'present',
 'zero',
 '}',
 'to',
 'reflect',
 'daili',
 'activ',
 'you',
 'can',
 'obtain',
 'from',
 'gas',
 'control',
 '.',
 'this',
 'chang',
 'is',
 'need',
 'asap',
 'for',
 'econom',
 'purpos',
 '.']

Lemmatize

In [18]:
from nltk.stem import WordNetLemmatizer
lemmatizer=WordNetLemmatizer()

In [19]:
def lemmit_it(text):
  return [lemmatizer.lemmatize(word,pos="a") for word in text]

In [20]:
dt['text']=dt['text'].apply(lemmit_it)

In [21]:
dt['text'][0]

['subject',
 ':',
 'enron',
 'methanol',
 ';',
 'meter',
 '#',
 ':',
 '988291',
 'this',
 'is',
 'a',
 'follow',
 'up',
 'to',
 'the',
 'note',
 'i',
 'gave',
 'you',
 'on',
 'monday',
 ',',
 '4',
 '/',
 '3',
 '/',
 '00',
 '{',
 'preliminari',
 'flow',
 'data',
 'provid',
 'by',
 'daren',
 '}',
 '.',
 'pleas',
 'overrid',
 'pop',
 "'",
 's',
 'daili',
 'volum',
 '{',
 'present',
 'zero',
 '}',
 'to',
 'reflect',
 'daili',
 'activ',
 'you',
 'can',
 'obtain',
 'from',
 'gas',
 'control',
 '.',
 'this',
 'chang',
 'is',
 'need',
 'asap',
 'for',
 'econom',
 'purpos',
 '.']

In [22]:
from nltk.corpus import stopwords

In [23]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\gauta\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [24]:
stop_words = stopwords.words('english')

In [25]:
print(stop_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [26]:
def stop_it(text):
  review=[word for word in text if not word in stop_words]
  return review

In [27]:
dt['text']=dt['text'].apply(stop_it)

In [28]:
dt['text']=dt['text'].apply(' '.join)

In [29]:
dt.head()

  label                                               text  spam
0   ham  subject : enron methanol ; meter # : 988291 fo...     0
1   ham  subject : hpl nom januari 9 , 2001 ( see attac...     0
2   ham  subject : neon retreat ho ho ho , ' around won...     0
3  spam  subject : photoshop , window , offic . cheap ....     1
4   ham  subject : : indian spring deal book teco pvr r...     0

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
y=dt.spam.values
x=tfidf.fit_transform(dt['text'])

In [31]:
from sklearn.model_selection import train_test_split
x_train,x_text,y_train,y_text=train_test_split(x,y,random_state=2,test_size=0.2,shuffle=False)

In [32]:
from sklearn.linear_model import LogisticRegression
hij=LogisticRegression()
hij.fit(x_train,y_train)
y_pred=hij.predict(x_text)

In [33]:
from sklearn.metrics import accuracy_score
acc_log =accuracy_score(y_pred,y_text)
print("accuracy",acc_log)

accuracy 0.9855072463768116